body{
    font-size: 0.8rem;
 }
 header
 {
   height: 94px;
   background-color: #e40046;
   border: 1px dashed red;
 }
 .asidenav a
 {
 
     color: #666;
     border-left: 3px solid white;
     border-top: 1px solid white;
     border-bottom: 1px solid white;
 }
 .asidenav >li:hover > a
 {
     border-left: 3px solid #e40046;
     background: #fafafa;
     color: #666;
     border-top: 1px solid #e5e5e5;
     border-bottom: 1px solid #e5e5e5;
 }
 
 .asidenav > li:hover div{
     display: block;
 }
 .asidenav a:hover
 {
     border-left: 3px solid #e40046;
     background: #fafafa;
     color: #666;
     border-top: 1px solid #e5e5e5;
     border-bottom: 1px solid #e5e5e5;
     
 }
 
 .header-top
 {
   height: 30px;
   background: #c7003d;
 }
 .header-top > .container
 {
    
     height: 100%;
     max-width: 1365px;
 }
 .header-bottom > .container
 {
    
     height: 100%;
     max-width: 1365px;
     border: 1px dashed black;
 }
 .main1
 {
     border: 1px dashed black;
     height: 1000px;
     max-width: 1365px;
 }
 .main2
 {
     border: 1px dashed purple;
     height: 755px;
     
 }
 .header-bottom
 {
   height: 65px;
   z-index: 2000 ;
   background: #e40046;
  
 }
 .main
 {
   
   background-color: #f7f7f7;
   border: 3px dashed green;
 }
 footer
 {
  
   background-color: #f7f7f7;
   border: 3px dashed blue;
 }
 .footer1
 {
     border: 1px dashed red;
     height: 550px;
     max-width: 1365px;
 }
 .footer2
 {
     border: 1px dashed greenyellow;
     height: 997px;
     max-width: 1365px;
 }
 .footer3
 {
     border: 1px dashed black;
     height: 46px;
     max-width: 1365px;
 }
 .mainblock1
 {
     height: 816px;
     border: 1px dashed orange;
 }
 .mainblock1 > div{
     border: 1px dashed black;
 }
 .snapslider
 {
     height: 345px;
     border: 1px dashed orange;
 }
 .carousel-indicators > button
 {
     
     width: 150px !important;
     height: 23px !important;
     position: relative;
     top: 50%;
     text-indent: 0% !important;
   
 }
 .carousel-indicators > button.active
 {
     border-bottom: 2px solid black;
     padding-bottom: 10px ;
 }
 
 .trendingproducts
 {
     height: 450px;
     border: 1px dashed red;
 }
 .logoimg
 {
     height: 130px;
     position: relative;
     bottom: 27%;
     right: 17%;
     color:#f7f7f7;
 
 }
 .form-1
 {
     width: 95%;
     height: 38px;
     position: relative;
     top: 11%;
     left: -3%;
     background: #f8f8f8;
 }
 .form-1 input{
     border: none;
     background: #f8f8f8 !important;
     color: #8f8f8f;
 
 }
 .form-1 input:focus
 {
     box-shadow: none;
     border: none;
 }
 .form-1 input:focus + .inputbox
 {
     display: block;
 }
 .inputbox
 {
     width: 610px;
    
     background: red ;
     z-index: 1000;
     box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
     display: none;
 }
 .inputbox h6 {
     color: #999;
 }
 .inputbox ul a{
     color: #666;
     padding-left: 24px ;
 }
 .inputbox ul a:hover{
     background: #f6f6f6;
     color: #999;
 }
 .rightnav a
 {
 display: block;
 padding: 20px 40px 20px 40px;
 }
 .rightnav li:first-child
 {
     border-color: rgba(0,0,0,0.1) !important;
 }
 .rightnav > li{
     position: relative;
     
 }
 .rightnav > li ul 
 {
     position: absolute;
     width: 215px;
     height: 170px;
     background: #333;
     top: 88%;
     right: 6%;
     z-index: 1000;
     display: none;
 }
 .searchbtn{
   
     height: 39px;
     background: #333 !important;
   
 }
 .rightnav > li:nth-child(2):hover > a{
     background: #333;
     transition: none;
 }
 .rightnav > li:hover ul 
 {
     display: block;
 }
 .c_bl:hover
 {
     background: #333;
     
 }
 .c_bl {
     margin: 9px;
     text-decoration: none;
 }
 .asidenav2 a
 {
     padding: 5px 10px 5px 10px !important;
 }
 .tbdr{
     border: 1px dashed black;
     height: 100% !important;
 }
 .footer {
     background-color: #f1f1f1;
     padding: 20px;
 }
 
 .footer-top {
     display: flex;
     justify-content: space-between;
     padding-bottom: 20px;
     border-bottom: 1px solid #ccc;
 }
 
 .footer-section {
     flex: 1;
     margin: 0 10px;
 }
 
 .footer-section h3 {
     font-size: 16px;
     margin-bottom: 10px;
     color: #333;
 }
 
 .footer-section ul {
     list-style-type: none;
     padding: 0;
 }
 
 .footer-section ul li {
     font-size: 14px;
     margin-bottom: 5px;
     color: #666;
 }
 
 .footer-section.subscribe input {
     width: calc(100% - 110px);
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 4px 0 0 4px;
     margin-right: -4px;
 }
 
 .footer-section.subscribe button {
     padding: 10px;
     border: none;
     background-color: #333;
     color: white;
     border-radius: 0 4px 4px 0;
     cursor: pointer;
 }
 
 .footer-section.subscribe p {
     font-size: 12px;
     color: #666;
 }
 
 .footer-section.subscribe a {
     color: #333;
 }
 
 .footer-middle {
     display: flex;
     justify-content: space-between;
     padding: 20px 0;
     border-bottom: 1px solid #ccc;
 }
 
 .payment-methods img,
 .social-icons i {
     margin-right: 10px;
 }
 
 .footer-bottom {
     padding: 20px 0;
 }
 
 .categories p {
     font-size: 12px;
     color: #666;
     margin-bottom: 10px;
 }
 
 .footer-description {
     font-size: 12px;
     color: #666;
 }
 
 .footer-copyright,
 .footer-made {
     font-size: 12px;
     color: #666;
     margin-top: 10px;
 }
 
 .footer-made span {
     color: red;
 }
 
 .sliderrbox {
     display: flex;
     width: 90%;
     position: relative;
     left: 15%;
     height: 100%;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 20px;
     background: #fff;
     border: 1px solid #ddd;
     border-radius: 8px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
 }
 
 
 .pincode-input {
     text-align: center;
 }
 
 .icon img {
     width: 50px;
     height: 50px;
     margin-bottom: 10px;
 }
 
 
 .pincode-input h3 {
     font-size: 1.2em;
     margin: 10px 0;
     color: #333;
 }
 
 
 .pincode-input p {
     font-size: 0.9em;
     color: #666;
     margin-bottom: 20px;
 }
 
 
 .pincode-input input {
     width: 80%;
     padding: 10px;
     margin-bottom: 20px;
     border: 1px solid #ddd;
     border-radius: 4px;
 }
 
 /* Buttons container */
 .buttons {
     display: flex;
     justify-content: space-between;
     gap: 10px;
 }
 
 /* Button styling */
 .buttons button {
     flex: 1;
     padding: 10px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 
 .buttons button[type="button"] {
     background-color: #333;
     color: #fff;
 }
 
 
 
 
 
 